/* Font ClashGrotesk */

@font-face {
  font-family: "ClashDisplay-Medium";
  src: local("ClashDisplay-Medium"), url(fonts/ClashGrotesk/ClashDisplay-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "ClashDisplay-Semibold";
  src: local("ClashDisplay-Semibold"), url(fonts/ClashGrotesk/ClashDisplay-Semibold.ttf) format("truetype");
}

/* Font PublicSans */

@font-face {
  font-family: "PublicSans-Medium";
  src: local("PublicSans-Medium"), url(fonts/PublicSans/PublicSans-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "PublicSans-Regular";
  src: local("PublicSans-Regular"), url(fonts/PublicSans/PublicSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "PublicSans-SemiBold";
  src: local("PublicSans-SemiBold"), url(fonts/PublicSans/PublicSans-SemiBold.ttf) format("truetype");
}
