

@media (max-width: 450px) {
  .connect-wallet {
    padding: 0.5rem 0.8rem;
  }
  .App-wallet-connect
  {

    min-height: 32px;
  }
}
@media(max-width:1021px)
{
  .App-wallet-connect
  {
    
    min-height: 32px;
  }
}